.navbar{

    position:fixed;

    top:20px;

    left:50%;

    transform:translateX(-50%);

    width:92%;

    max-width:1350px;

    height:78px;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:0 30px;

    border-radius:22px;

    backdrop-filter:blur(20px);

    background:rgba(255,255,255,.06);

    border:1px solid rgba(255,255,255,.12);

    box-shadow:
    0 10px 40px rgba(0,0,0,.25);

    z-index:999;
}

/* Logo */

.logo{

    display:flex;

    align-items:center;

    gap:12px;

    font-size:24px;

    font-weight:700;

    color:white;

    letter-spacing:.5px;
}

.logo-icon{

    width:42px;

    height:42px;

    border-radius:50%;

    display:flex;

    justify-content:center;

    align-items:center;

    background:linear-gradient(135deg,#6d5df6,#00d4ff);

    box-shadow:
    0 0 25px rgba(0,212,255,.45);
}

/* Links */

.nav-links{

    display:flex;

    gap:40px;
}

.nav-links a{

    color:#d7defd;

    text-decoration:none;

    font-weight:500;

    transition:.35s;
}

.nav-links a:hover{

    color:white;

    transform:translateY(-2px);
}

/* Button */

.nav-btn{

    padding:14px 28px;

    border:none;

    border-radius:14px;

    cursor:pointer;

    color:white;

    font-size:15px;

    font-weight:600;

    background:
    linear-gradient(135deg,#6d5df6,#00d4ff);

    transition:.35s;

    box-shadow:
    0 0 30px rgba(0,212,255,.30);
}

.nav-btn:hover{

    transform:translateY(-3px);

    box-shadow:
    0 0 45px rgba(0,212,255,.55);
}